.tengah{
    margin: 0 auto;
}
.panel0{
    margin-bottom: 50px;
}
.panel1{
    margin-top: -80px;
}
.my-button{
    color: #3848a2;
    border-color: #3848a2;
    background-color: transparent;
}
.my-button:hover{
    color: white;
    border-color: #3848a2;
    background-color: #3848a2;
}
.my-font-color{
    color: #3848a2;
}
.my-background-color{
    background-color: #3848a2;
}
.border-radius{
    border-radius: 10px;
}
.panel-bottom-1{
    margin-bottom: -30px;
}
.putih{
    color:white;
}